*{
    box-sizing: border-box;
    font-family: sora;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: Center;
    font-size: 48px;
}
.box{
    background-color: blue;
    width: 30%;
    height: auto;
    position: relative;
    border: 1px solid black;
    padding-top: 35px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 15px;
    float: left;
    vertical-align: center;
    margin-right: collapse;
}
.box-1{
    position: absolute;
    top: 0px;
    right:0px;
    color: black;
    padding: 2px;
    border: 1px solid black;
    margin-bottom: 2px;
    background-color: white;
    font-size: 20px;
    width:100px;
    text-align: center;
}
p{
    color: black;
}
.second-box{
    background-color: rgb(119, 121, 33);
    width: 30%;
    height: auto;
    position: relative;
    border: 1px solid black;
    padding-top: 35px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 15px;
    float: left;
    margin-right: collapse;
}
.third-box{
    background-color: rgb(255, 0, 157);
    width: 30%;
    height: auto;
    position: relative;
    border: 1px solid black;
    padding-top: 35px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 15px;
    float: left;
    margin-right: collapse;
}
.clearfix::after{
    content: "";
    clear:both;
    display: table;
}
@media (min-width:767px) and (max-width:991px) 
{
    .third-box{
        width: 95%;
        clear:both;
    }
    .second-box, .box{
        width: 46%;
    }
}
@media (max-width:766px){
    .box, .second-box, .third-box{
        clear: both;
        width:95%;
    }
}